<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset=""UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h1> Login Succesfull</h1>
        <label>Welcome to your Profile</label>
        <br><br>
        <p><strong>The voting has not started.</strong>
        <br>
        <form action="" method="post">
          <input type="submit" class="btn btn-info" name="Candidature" value="Apply for Candidature">
        </form>
        <form action="/">
          <br>
          <button type="submit">LOGOUT</button>
        </form>
    </div>
</body>
</html>
